#root {
  margin: 0 auto;
  padding-top: 4rem;
  text-align: center;
}


.container-wrapped-all {
  border: 1px solid rgba(255, 255, 255, 0);
  display: grid;
  box-shadow:
    /* Sombra en el borde superior */
    0px -5px 5px -5px rgba(85, 85, 85),
    /* Sombra en el borde inferior */
    0px 5px 5px -5px rgba(85, 85, 85);


}

.content-center {
  border: 3px solid;
  display: grid;
  border: 1px solid rgba(255, 255, 255, 0);
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-shadow:
    /* Sombra en el borde superior */
    0px -5px 5px -5px rgba(85, 85, 85),
    /* Sombra en el borde inferior */
    0px 5px 5px -5px rgba(85, 85, 85);
  /* box-shadow: 0px 0px 0.5px 0.5px rgb(85, 85, 85); */
  align-items: stretch;

  /* Separacion entre contenedores */
  row-gap: 0.6rem;

  height: 15.5rem;
  overflow: auto;
}

.content-north {


  /* grid-column: 1 / span 1; */
  padding: 10px;
  /* grid-column-start: 1;
  grid-row-end: 1; */
  grid-template-columns: 17rem;

  row-gap: 0.5rem;
}



.button-add {

  color: #4c84af;
  /* color: #000;
 
  /* Fondo blanco */
  border: 2px solid;
  /* Borde de 2px sólido verde */

  background: rgba(0, 193, 32, 0.685);
  /* Fondo verde traslúcido al pasar el ratón */
  color: white;

}

.button-add:hover {

  color: white;
  border: 2px solid #02ff2c;
  transition: all 0.4s ease;
}

.label {
  text-decoration: none;
  /* Inicialmente sin tachar */
}

input[type="checkbox"]:checked+.label {
  text-decoration: line-through;
  /* Tachar si el checkbox está marcado */
}

.imagen {
  float: left;
  display: inline;
  margin-top: 5px;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.span-label {
  /* align-items: initial; */
  font-style: italic;
  font-size: 0.8rem;
  text-align: left;
  margin-left: 5px;
}

#span-label-alert {
  color: green;
  margin-top: -0.5rem;
}

#span-label-error {
  color: red;
  margin-top: -0.5rem;
  margin-bottom: 0.3rem;
}

.form {
  display: inline;
}

.input {
  margin-bottom: 9px;
  width: 12.5rem;
}

#input-text {
  margin-top: 20px;
  height: 1rem;
}

#input-textarea {
  height: 1.5rem;
  margin-bottom: 5px;
}

.button-save-edit {
  margin-left: 5px;
  background-color: white;
  color: #4c84af;
  border: 2px solid #4c84af;
}

.button-save-edit:hover {
  margin-left: 7px;
  background-color: #4c84af;
  color: white;
  border: 2px solid #4c84af;
  transition: all 0.4s ease;
}

.button-cancel-edit {
  /* margin-bottom: 10px; */
  margin-right: 5px;
  color: #4c84af !important;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #4c84af;
  transition: all 0.4s ease;
}

.button-cancel-edit:hover {
  margin-right: 7px;
  background: #f74d4d;
  color: #fff !important;
  border-color: #f74d4d;
}

.content-south {
  display: grid;
  padding: 10px;
  grid-column: 1 / span 2;
}

.p-label {
  display: inline;
  font-style: italic;
  font-size: 1rem;

}

#completed-task {
  margin-top: 5px;
  margin-bottom: 0px;
  color: green;
}

#pending-task {
  margin-bottom: 10px;
  color: red;
  margin-top: -10px;
}

.content-tasks {
  display: inline-block;
  width: 19.5rem;
  overflow: auto;
  background-color: whitesmoke;
  border-radius: 1rem;
}

#content-task {
  height: 6rem;
}

#content-edit-task {
  height: 9.5rem;
}

.button-delete-all {

  background-color: #fd4242;
  border: 2px solid;
  color: white;
}

.content-show {
  display: block;
}

.content-hiden {
  display: none;
}

.button-delete-all:hover {
  transition: all 0.4s ease;
  background-color: red;
  color: white;
  border: 2px solid red;
}


/* AboutUs */
.container {
  max-width: 600vp;
  margin: 0 auto;
  text-align: justify;
  padding: 10px;
}

blockquote {
  background-color: #fff;
  border-left: 3px solid #333;
  /* Línea vertical izquierda */
  margin: 0;
  padding: 10px 20px;
  quotes: "\201C" "\201D" "\2018" "\2019";
  /* Define comillas para el contenido de la cita */
}

blockquote p {
  margin: 0;
}

@media only screen and (min-width:320px) and (max-width:768px) {
  .header {
    height: 60px;
  }
}